<manifest xmlns:android="http://schemas.android.com/apk/res/android"><application>
    <activity android:name=".PlatformTestActivity" android:exported="false" android:launchMode="singleTask" android:supportsPictureInPicture="true" android:resizeableActivity="true" android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize|screenLayout|smallestScreenSize|uiMode" />
    <activity android:name=".TvInteractionTestActivity" android:exported="false" android:launchMode="singleTask" android:screenOrientation="landscape" android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize|screenLayout|smallestScreenSize|uiMode" />
</application></manifest>
